{% extends "base2.html" %}
{% block nav %}
     <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="nav-item  active open">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-diamond"></i>
                                <span class="title">数据跟踪</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  active open">
                                    <a href="/shipping" class="nav-link ">
                                        <span class="title">船公司</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <span class="title">码头</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item ">
                                            <a href="/wharf/ship" class="nav-link ">单船查询</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="/wharf/bill" class="nav-link ">单票查询</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/yard" class="nav-link ">
                                        <span class="title">堆场</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/express" class="nav-link ">
                                        <span class="title">快递</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
{% endblock %}
{% block pagecontent %}
     <div class="row">
        <div class="col-lg-8 col-xs-12 col-sm-12">
            <div class="portlet light portlet-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-directions font-green hide"></i>
                        <form method="POST" role="form">
                            {{ form.hidden_tag()}}
                            <div class="row">
                            <div class="col-md-4 col-xs-4">
                                {{  form.ship_name(class="form-control",placeholder="船公司") }}
                            </div>
                            <div class="col-md-6 col-xs-6">
                                {{ form.bill_number(class="form-control",placeholder="提单号") }}
                            </div>
                            <div class="col-md-2  col-xs-2">
                                {{ form.submit(class='btn  green btn-outline btn-circle btn-sm') }}
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
     </div>
    {% if info %}
    <div class="row">
        <div class="col-lg-8 col-xs-12 col-sm-12">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-directions font-green hide"></i>
                        <span class="caption-subject bold font-dark uppercase"> {{info['routing'][0]['vessel']}}</span>
                        <span class="caption-helper">{{info['routing'][0]['voyage']}}</span>
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="row number-stats margin-bottom-30">
                        {% for route in info['routing']  %}
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            {% if route['route_name'] == 'Load Port' %}
                            <div class="stat-left">
                                <div class="stat-number">
                                    <div class="title"> {{ route['estimate_departure_date'] }} </div>
                                    <div class="number"> {{ route['location'] }} </div>
                                </div>
                            </div>
                            {% elif route['route_name'] == 'Discharge Port' %}
                             <div class="stat-right">
                                <div class="stat-number">
                                    <div class="title"> {{ route['estimate_arrival_date'] }} </div>
                                    <div class="number"> {{ route['location'] }} </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th> 箱号 </th>
                                    <th> 状态 </th>
                                    <th> 类型 </th>
                                    <th> 尺寸 </th>
                                    <!--<th> 高度 </th>
                                    <th> 港口 </th>
                                    <th> 到港时间 </th>
                                    <th> 离港时间 </th>-->
                                </tr>
                            </thead>
                            <tbody>
                                {% for container in info['containers']  %}
                                <tr>
                                    <td> {{ container['number'] }}</td>
                                    <td>  <span class="label label-sm label-success">{{ container['status']  }}</span> </td>
                                    <td> {{ container['type']  }}</td>
                                    <td> {{ container['size']  }}</td>
                                    <!--<td> {{ container['height']  }}</td>
                                    <td> {{ container['location']  }}</td>
                                    <td> {{ container['container_load_date']  }}</td>
                                    <td> {{ container['container_discharge_date']  }}</td>-->
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>


                </div>

            </div>
        </div>
     </div>
     {% endif %}

    <div class="row">
        <code>{{ info }}</code>
    </div>


{% endblock %}