{% extends "base2.html" %}
{% block nav %}
     <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="nav-item  active open">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-diamond"></i>
                                <span class="title">青岛</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="/shipping" class="nav-link ">
                                        <span class="title">船公司</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li class="nav-item   active open">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <span class="title">码头</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item ">
                                            <a href="/wharf/ship" class="nav-link ">单船查询</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="/wharf/bill" class="nav-link ">单票查询</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/yard" class="nav-link ">
                                        <span class="title">堆场</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/express" class="nav-link ">
                                        <span class="title">快递</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
{% endblock %}

{% block pagecontent %}
    <div class="row">
        <div class="col-lg-8 col-xs-12 col-sm-12">
            <div class="portlet light portlet-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-directions font-green hide"></i>
                        <form method="POST" role="form">
                            {{ form.hidden_tag()}}
                            <div class="row">


                                <div class="col-md-4 col-xs-4">
                                    {{  form.vessel(class="form-control",placeholder="船名") }}
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    {{ form.voyage(class="form-control",placeholder="航次") }}
                                </div>
                                <div class="col-md-2  col-xs-2">
                                    {{ form.submit(class='btn  green btn-outline btn-circle btn-sm') }}
                                </div>
                            </div>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if info %}
     <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light portlet-fit bordered ">
                <div class="portlet-body">
                    <table class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th> 码头名称 </th>
                                    <th> 预计到港时间 </th>
                                    <th> 预计离港时间 </th>
                                    <th> 实际到港时间 </th>
                                    <th> 实际离港时间 </th>
                                    <th> 收箱开始时间 </th>
                                    <th> 收箱结束时间 </th>
                                    <th> 抵港状态 </th>
                                    <th> 泊位 </th>
                                    <th> 关区 </th>
                                    <th> 承运人 </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mtcq in info['mtcqList']  %}
                                <tr>
                                    <td> {{ mtcq['MTMC'] }}</td>
                                    <td>  {{ mtcq['ETA']  }} </td>
                                    <td> {{ mtcq['ETD']  }}</td>
                                    <td> {{ mtcq['SJDGSJ']  }}</td>
                                    <td> {{ mtcq['SJLGSJ']  }}</td>
                                    <td> {{ mtcq['SXKSSJ']  }}</td>
                                    <td> {{ mtcq['SXJSSJ']  }}</td>
                                    <td> <span class="label label-sm label-success">{{ mtcq['DGBZMC'] }}</span></td>
                                    <td> {{ mtcq['BWDM1']  }}</td>
                                    <td> {{ mtcq['GQDM']  }}</td>
                                    <td> {{ mtcq['CYR']  }}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                 </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}