{% extends "base2.html" %}
{% block nav %}
     <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="nav-item  active open">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-diamond"></i>
                                <span class="title">数据跟踪</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="/shipping" class="nav-link ">
                                        <span class="title">船公司</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li class="nav-item   active open">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <span class="title">码头</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item ">
                                            <a href="/wharf/ship" class="nav-link ">单船查询</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="/wharf/bill" class="nav-link ">单票查询</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/yard" class="nav-link ">
                                        <span class="title">堆场</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/express" class="nav-link ">
                                        <span class="title">快递</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
{% endblock %}

{% block pagecontent %}
    <div class="row">
        <div class="col-lg-8 col-xs-12 col-sm-12">
            <div class="portlet light portlet-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-directions font-green hide"></i>
                        <form method="POST" role="form">
                            {{ form.hidden_tag()}}
                            <div class="row">

                                <div class="col-md-3 col-xs-3">
                                    {{  form.port(class="form-control",placeholder="港口") }}
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    {{  form.type(class="form-control",placeholder="进出口") }}
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    {{  form.bill(class="form-control",placeholder="提单号")}}
                                </div>
                                <div class="col-md-2  col-xs-2">
                                    {{ form.submit(class='btn  green btn-outline btn-circle btn-sm') }}
                                </div>
                            </div>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if info %}
     <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">

            <div class="portlet light portlet-fit bordered ">
                <div class="portlet-title">
                    <span class="caption-subject bold uppercase font-dark">码头信息</span>
                </div>
                <div class="portlet-body">
                    <table class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th> 码头名称 </th>
                                    <th> 中文船名 </th>
                                    <th> 英文船名 </th>
                                    <th> 航次 </th>
                                    <th> 卸货港 </th>
                                    <th> 箱站 </th>
                                    <th> 箱号 </th>
                                    <th> 箱属 </th>
                                    <th> 尺寸 </th>
                                    <th> 箱型 </th>
                                    <th> 铅封号 </th>
                                    <th> 放行 </th>
                                    <th> 状态 </th>
                                    <th> 入港时间 </th>
                                    <th> 装船时间 </th>
                                    <th> 堆存天数 </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mtxx in info['mtxxList']  %}
                                <tr>
                                    <td> {{ mtxx['MTMC'] }}</td>
                                    <td>  {{ mtxx['CKZWCM']  }} </td>
                                    <td> {{ mtxx['CKYWCM']  }}</td>
                                    <td> {{ mtxx['CKHC']  }}</td>
                                    <td> {{ mtxx['XHGYM']  }}</td>
                                    <td> {{ mtxx['XZDM'] }}</td>
                                    <td> {{ mtxx['XH']  }}</td>
                                    <td> {{ mtxx['XSGSM']  }}</td>
                                    <td> {{ mtxx['CC']  }}</td>
                                    <td> {{ mtxx['XX'] }}</td>
                                    <td>  {{ mtxx['QFH1']  }} </td>
                                    <td> {{ mtxx['FXBZ']  }}</td>
                                    <td><span class="label label-sm label-success"> {{ mtxx['DQZTMC']  }}</span></td>
                                    <td> {{ mtxx['SJRGSJ']  }}</td>
                                    <td> {{ mtxx['SJCGSJ'] }}</td>
                                    <td> {{ mtxx['DCT']  }}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                 </div>
            </div>

            <div class="portlet light portlet-fit bordered ">
                <div class="portlet-title">
                    <span class="caption-subject bold uppercase font-dark">装箱单信息</span>
                </div>
                <div class="portlet-body">
                    <table class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th> 码头名称 </th>
                                    <th> 中文船名 </th>
                                    <th> 英文船名 </th>
                                    <th> 航次 </th>
                                    <th> 卸货港 </th>
                                    <th> 箱站 </th>
                                    <th> 箱号 </th>
                                    <th> 箱属 </th>
                                    <th> 尺寸 </th>
                                    <th> 箱型 </th>
                                    <th> 分单号 </th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for zxd in info['zxdList']  %}
                                <tr>
                                    <td> {{ zxd['MTMC'] }}</td>
                                    <td> {{ zxd['ZWCM']  }} </td>
                                    <td> {{ zxd['YWCM']  }}</td>
                                    <td> {{ zxd['HCHC']  }}</td>
                                    <td> {{ zxd['XHGM']  }}</td>
                                    <td> {{ zxd['XZDM'] }}</td>
                                    <td> {{ zxd['XH']  }}</td>
                                    <td> {{ zxd['XSGSM']  }}</td>
                                    <td> {{ zxd['CC']  }}</td>
                                    <td> {{ zxd['XX']  }}</td>
                                    <td> {{ zxd['TDH']  }}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                 </div>
            </div>

            <div class="portlet light portlet-fit bordered ">
                <div class="portlet-title">
                    <span class="caption-subject bold uppercase font-dark">运抵报告</span>
                </div>
                <div class="portlet-body">
                    <table class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th> 码头名称 </th>
                                    <th> IMO号 </th>
                                    <th> 英文船名 </th>
                                    <th> 航次 </th>
                                    <th> 卸货港 </th>
                                    <th> 箱站 </th>
                                    <th> 关区 </th>
                                    <th> 箱号 </th>
                                    <th> 卸货地到达时间 </th>
                                    <th> 海关发送时间 </th>
                                    <th> 海关回执时间 </th>
                                    <th> 海关回执描述 </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ydbg in info['ydbgList']  %}
                                <tr>
                                    <td> {{ ydbg['FSDW'] }}</td>
                                    <td>  {{ ydbg['CIMO']  }} </td>
                                    <td>  {{ ydbg['YWCM']  }} </td>
                                    <td> {{ ydbg['HCHBBH'] }}</td>

                                    <td>  {{ ydbg['XHDDM']  }} </td>
                                    <td> {{ ydbg['SBDHGDM']  }}</td>
                                    <td> {{ ydbg['XHDGQDM']  }}</td>
                                    <td> {{ ydbg['XH']  }}</td>

                                    <td>{{ ydbg['XHDDDSJ'] }}</td>
                                    <td> {{ ydbg['IMPORT_TIME']  }}</td>
                                    <td> {{ ydbg['HZSJ']  }}</td>
                                    <td>  <span class="label label-sm label-success">{{ ydbg['HZMS']}}</span></td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                 </div>
            </div>

            <div class="portlet light portlet-fit bordered ">
                <div class="portlet-title">
                    <span class="caption-subject bold uppercase font-dark">报关单放行</span>
                </div>
                <div class="portlet-body">
                    <table class="table table-hover table-light">
                            <thead>
                                <tr>

                                    <th> 英文船名 </th>
                                    <th> 航次 </th>
                                    <th> IMO号 </th>

                                    <th> 关区代码 </th>
                                    <th> 报关单号 </th>
                                    <th> 分提单号 </th>
                                    <th> 放行时间 </th>
                                    <th> 放行件数 </th>
                                    <th> 箱号 </th>
                                    <th> 净重 </th>
                                    <th> 毛重 </th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for  bgdfx in info['bgdfxList'] %}
                                    <tr>

                                        <td> {{ bgdfx['FLAGHT_NO'] }}</td>
                                        <td> {{ bgdfx['VOYAGE_NO'] }}</td>
                                        <td> {{ bgdfx['CIMO'] }}</td>

                                        <td> {{ bgdfx['I_E_PORT'] }}</td>
                                        <td> {{ bgdfx['ENTRY_ID'] }}</td>
                                        <td> {{ bgdfx['BILL_NO'] }}</td>
                                        <td> {{ bgdfx['R_DATE'] }}</td>
                                        <td> {{ bgdfx['PASS_PACK_NO'] }}</td>
                                        <td> {{ bgdfx['CONTA_ID'] }}</td>
                                        <td> {{ bgdfx['NET_WT'] }}</td>
                                        <td> {{ bgdfx['GROS_WT'] }}</td>



                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                 </div>
            </div>

            <div class="portlet light portlet-fit bordered ">
                <div class="portlet-title">
                    <span class="caption-subject bold uppercase font-dark">舱单装载放行</span>
                </div>
                <div class="portlet-body">
                    <table class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th> 英文船名 </th>
                                    <th> 航次 </th>
                                    <th> IMO号 </th>
                                    <th> 箱号 </th>
                                    <th> 放行类别 </th>
                                    <th> 放行时间 </th>
                                    <th> 海关指令 </th>
                                    <th> 接受时间 </th>
                                </tr>
                            </thead>
                            <tbody>
                             {% for  zzfx in info['zzfxList'] %}
                                <tr>
                                    <td> {{ zzfx['YWCM'] }}</td>
                                    <td> {{ zzfx['HCHC'] }}</td>
                                    <td> {{ zzfx['CIMO'] }}</td>
                                    <td> {{ zzfx['XH'] }}</td>
                                    <td> {{ zzfx['FXLBMC'] }}</td>
                                    <td> {{ zzfx['RDATE'] }}</td>
                                    <td> <span class="label label-sm label-success">{{ zzfx['SCBZMC'] }}</span></td>
                                    <td> {{ zzfx['IMPORT_TIME'] }}</td>
                                </tr>
                             {% endfor %}
                            </tbody>
                        </table>
                 </div>
            </div>

        </div>
    </div>
    {% endif %}
{% endblock %}